<div class="layout">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand__logo">GC</div>
      <div>
        <h1>Gestión</h1>
        <p>Contratos y contratistas</p>
      </div>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
      <a routerLink="/contratos" routerLinkActive="active">Contratos</a>
      <a routerLink="/contratistas" routerLinkActive="active">Contratistas</a>
      <a routerLink="/contratistas" routerLinkActive="active">Contratistas</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>


